---
app: Exemple
allowCompositePrimaryKey: false
jpa:
  - tags:
      - autoTag
    modelOutputDirectory: ./jpa/src/main/javagen
    daoPackageName: topmodel.exemple.name.dao
    apiOutputDirectory: ./jpa/src/main/javagen
    apiPackageName: topmodel.exemple.name.api
    fieldsEnum: true
    fieldsEnumInterface: topmodel.exemple.utils.IFieldEnum<>
    enumShortcutMode: false
